.footer {
    width: 194px;
    height: 16px;
    margin: 0 543px 0;
    padding: 24px;
}

@media screen and (max-width: 768px){
    
    .footer{
        width: 194px;
        height: 16px;
        margin: 0 283px 24px;
        padding: 0;
    }
}

@media screen and (max-width: 768px){

    .footer{
        width: 194px;
        height: 14px;
        margin: 0 63px 24px;
        padding: 0;
    }
}