.page {
    background: #2A2C2F;
    color: #fff;
    width: 1280px;
    margin: auto;
    text-rendering: optimizeLegibility;
    font-family: "inter";
}

@media screen and (max-width: 768px) {
    .page{
        width: 768px;
        height: 1742px;

    }
}

@media screen and (max-width: 320px) {
    .page{
        width: 320px;
        height: 1705px;
    
    }
}